@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212A31;
}

html {
    scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.edit-blog {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    color: #D3D9D4;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
    width: 100%;
}

.edit-logos {
    width: 36px;
    height: 36px;
}

.edit-linkedin {
    width: 38px;
    height: 38px;
}


.edit-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

.center-text {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #D3D9D4;
    margin: 0 auto;
    padding: 5px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
}

.footer-center-text {
    color: #D3D9D4;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #748D92;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #D3D9D4;
    border: 4px solid #748D92;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: #D3D9D4;
    position: relative;
    border-radius: 6px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after, .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}
